* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  background-color: #e4fff1;
  line-height: 1.4;
  font-size: 14pt;
  font-family: Tahoma;
}


/* FONTS */

.sarpanch-regular {
  font-family: "Sarpanch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sarpanch-medium {
  font-family: "Sarpanch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sarpanch-semibold {
  font-family: "Sarpanch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sarpanch-bold {
  font-family: "Sarpanch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sarpanch-extrabold {
  font-family: "Sarpanch", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sarpanch-black {
  font-family: "Sarpanch", sans-serif;
  font-weight: 900;
  font-style: normal;
}


.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* HEADER AND FOOTER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  background-color: #171717;
  padding: 0px 50px 0px 25px;
  font-family: sarpanch;
  font-weight: 600;
  font-size: 1.15rem;
}

a {
  color: #e4fff1;
  text-decoration: none;
  padding-left: 40px
}

a:hover {
  font-weight: 800;
  text-decoration: underline;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  background-color: #171717;
  color: #e4fff1;
  
}


/* MAIN CONTENT */

h1 {
  font-family: orbitron;
  font-weight: 900;
  font-size: 4rem
}

h2 {
  font-family: sarpanch;
  font-weight: 800;
  font-size: 2.5rem;
}

h3 {
  color: #7851a9;
  padding-top: 25px;
}

p {
  padding-top: 15px
}
