* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  background-color: #e4fff1;
  line-height: 1.4;
  font-size: 14pt;
  font-family: Helvetica;
}


/* FONTS */

.sarpanch-regular {
  font-family: "Sarpanch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sarpanch-medium {
  font-family: "Sarpanch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sarpanch-semibold {
  font-family: "Sarpanch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sarpanch-bold {
  font-family: "Sarpanch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sarpanch-extrabold {
  font-family: "Sarpanch", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sarpanch-black {
  font-family: "Sarpanch", sans-serif;
  font-weight: 900;
  font-style: normal;
}


.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* HEADER AND FOOTER */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 200px;
  background-color: #171717;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  background-color: #171717;
  color: #e4fff1;
  
}
