* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  background-color: #e4fff1;
  line-height: 1.4;
  font-size: 14pt;
  font-family: Tahoma;
}


/* FONTS */

.sarpanch-regular {
  font-family: "Sarpanch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sarpanch-medium {
  font-family: "Sarpanch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sarpanch-semibold {
  font-family: "Sarpanch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sarpanch-bold {
  font-family: "Sarpanch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sarpanch-extrabold {
  font-family: "Sarpanch", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sarpanch-black {
  font-family: "Sarpanch", sans-serif;
  font-weight: 900;
  font-style: normal;
}


.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 190px;
  background-color: #171717;
  padding: 0 3rem;
  font-family: sarpanch;
  font-weight: 600;
  font-size: 1.15rem;
}

.gamecube-logo {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/GC_Logo.svg/2048px-GC_Logo.svg.png");
}

a {
  color: #e4fff1;
  text-decoration: none;
  padding-left: 40px;
}

a:hover {
  text-decoration: underline;
}


/* MAIN CONTENT */

.container {
  height: 100vh;
  width: auto;
  background-image: url("https://images.squarespace-cdn.com/content/v1/63689069e0990a0f0cd0a667/76c551f6-41df-4d4b-8605-2aaf4f0a4873/DSC07073.jpg");
  background-position: center;
  box-shadow: 0 1rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.gamecube-logo {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/GC_Logo.svg/2048px-GC_Logo.svg.png");
}

.winter {
  text-align: center;
  padding-top: 20rem;
  font-family: orbitron;
  font-weight: 900;
  font-size: 3rem;
  text-align: center;
  color: #e4fff1;
  margin-top: 0rem;
}

.whats-hot {
  font-family: orbitron;
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
  margin-top: 100px;
}

.content {
 display: grid;
 grid-template: repeat(4, 30%) / repeat(2, 50%);
 gap: 4rem 0;
 padding-bottom: 50rem;
}

h2 {
  font-family: sarpanch;
  font-weight: 800;
  font-size: 2.5rem;
}

h3 {
  color: #7851a9;
  padding-top: 25px;
}

p {
  padding-top: 15px
}

.metroid-images {
  background-image: url("https://metroiddatabase.com/old_site/mp/art/mp_savestation.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 200px 0 0 75px;
  box-shadow: 2rem 1rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.zelda-images {
  background-image: url("https://cdn.wikimg.net/en/zeldawiki/images/3/31/Wind_Waker_Scene.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0px 200px 75px 0;
  box-shadow: -2rem 1rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.mario-images {
  background-image: url("https://mario.wiki.gallery/images/7/7d/GroupArtSunshine.jpg");
  background-size: cover;
  background-position: 0 -14rem;
  border-radius: 200px 0 0 75px;
  box-shadow: 2rem 1rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.evil-images {
  background-image: url("https://www.creativeuncut.com/gallery-08/art/re0-misc01.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0px 200px 75px 0;
  box-shadow: -2rem 1rem 1rem 0 rgba(0, 0, 0, 0.5);
}

.metroid-text, .zelda-text, .mario-text, .evil-text {
  padding: 2rem 4rem;
}


/* FOOTER */

footer {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-top: 1rem;
  align-items: center;
  padding: 0 3rem;
  height: 350px;
  background-color: #171717;
  color: #e4fff1;
}

footer a {
  color: #646464
}

footer a:hover {
  color: #e4fff1;
}

.sources {
  display: flex;
  flex-direction: column;
  text-align: right;
}


/* PHONE SCREEN */

@media only screen and (max-width: 480px) {
  html {
    font-size: 10px;
    text-align: center;
    font-family: Tahoma;
  }


/* HEADER */
  
/* MAIN CONTENT */
  
  .container {
    height: 30vh;
    width: auto;
    background-image: url("https://images.squarespace-cdn.com/content/v1/63689069e0990a0f0cd0a667/76c551f6-41df-4d4b-8605-2aaf4f0a4873/DSC07073.jpg");
    background-position: center;
    background-size: cover;
  }

  .winter {
    text-align: center;
    padding-top: 10rem;
    font-family: orbitron;
    font-weight: 900;
    font-size: 1.5rem;
    text-align: center;
    color: #e4fff1;
    margin-top: 0rem;
  }
  
  
  .content {
    display: grid;
    grid-template: repeat(8, 40rem) / repeat(1, 100%);
    padding-bottom: 0rem;
  }

  .metroid-images, .zelda-images, .mario-images, .evil-images {
    border-radius: 0 0 0 0;
    box-shadow:0 0 0 0 rgba(0, 0, 0, 0.25);
    order: 
  }

  .metroid-images {
    order: -1;
  }
  .mario-images {
    background-position: center;
    order: ;
  }

  .evil-images {
    background-position: center;
  }

  .metroid-text, .zelda-text, .mario-text, .evil-text {
    text-align: left;
  }

/* FOOTER */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: relative;
    margin-top: 1rem;
    align-items: center;
    padding: 0rem;
    height: 300px;
    background-color: #171717;
    color: #e4fff1;
  }

  .sources {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
