* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  background-color: #e4fff1;
  line-height: 1.4;
  font-size: 14pt;
  font-family: Tahoma;
}


/* FONTS */

.sarpanch-regular {
  font-family: "Sarpanch", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.sarpanch-medium {
  font-family: "Sarpanch", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.sarpanch-semibold {
  font-family: "Sarpanch", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.sarpanch-bold {
  font-family: "Sarpanch", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.sarpanch-extrabold {
  font-family: "Sarpanch", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.sarpanch-black {
  font-family: "Sarpanch", sans-serif;
  font-weight: 900;
  font-style: normal;
}


.orbitron-<uniquifier> {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}


/* HEADER */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 170px;
  background-color: #171717;
  padding: 0px 50px 0px 25px;
  font-family: sarpanch;
  font-weight: 600;
  font-size: 1.15rem;
}

a {
  color: #e4fff1;
  text-decoration: none;
  padding-left: 40px
}

a:hover {
  font-weight: 800;
  text-decoration: underline;
}


/* MAIN CONTENT */

.pic {
  width: 100vw;
  height: auto;
}

h1 {
  font-family: orbitron;
  font-weight: 900;
  font-size: 4rem;
  text-align: center;
}

main {
  padding: 
}

.content {
 display: grid;
 grid-template: repeat(3, 30%) / repeat(2, 50%);
 gap: 4rem 0
}

h2 {
  font-family: sarpanch;
  font-weight: 800;
  font-size: 2.5rem;
}

h3 {
  color: #7851a9;
  padding-top: 25px;
}

p {
  padding-top: 15px
}

.metroid-images {
  background-image: url("https://metroiddatabase.com/old_site/mp/art/mp_parasitequeen.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 200px 0 0 75px;
}

.zelda-images {
  background-image: url("https://cdn.wikimg.net/en/zeldawiki/images/3/31/Wind_Waker_Scene.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0px 200px 75px 0;
}

.mario-images {
  background-image: url("https://mario.wiki.gallery/images/3/38/SMS_group_art.jpg");
  background-size: cover;
  background-position: bottom;
  border-radius: 200px 0 0 75px;
}

.evil-images {
  background-image: url("https://www.creativeuncut.com/gallery-08/art/re0-misc01.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0px 200px 75px 0;
}

.metroid-text, .zelda-text, .mario-text, .evil-text {
  padding: 2rem 4rem
}


/* FOOTER */

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 350px;
  background-color: #171717;
  color: #e4fff1;
}
